# LoggerService variables
OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
LOG_SCAN_INTERVAL_MS=2000

# Opensearch variables
DISCOVERY_TYPE=single-node
PLUGINS_SECURITY_DISABLED=true
OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"
OPENSEARCH_DASHBOARDS_PLUGINS_DISABLED=opensearch-reports,opensearch-security

# Dashboards variables
OPENSEARCH_HOSTS=http://opensearch:9200
OPENSEARCH_SSL_VERIFICATIONMODE=none
DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
OPENSEARCH_DASHBOARDS_I18N_LOCALE=en
