# LoggerService variables
OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=change-this-to-a-strong-password
LOG_SCAN_INTERVAL_MS=2000

# Opensearch variables
DISCOVERY_TYPE=single-node
OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"

# Dashboards variables
OPENSEARCH_HOSTS=["https://opensearch:9200"]
OPENSEARCH_SSL_VERIFICATIONMODE=none # Delete this variable to enable true HTTPS
OPENSEARCH_DASHBOARDS_USERNAME=kibanaserver
OPENSEARCH_DASHBOARDS_PASSWORD=kibanaserver
OPENSEARCH_DASHBOARDS_I18N_LOCALE=en
